<h1>Index<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Simple-Pre-Processing" data-toc-modified-id="Simple-Pre-Processing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Simple Pre-Processing</a></span><ul class="toc-item"><li><span><a href="#Importing-the-.csv" data-toc-modified-id="Importing-the-.csv-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Importing the <code>.csv</code></a></span></li><li><span><a href="#Filtering-the-data" data-toc-modified-id="Filtering-the-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Filtering the data</a></span></li></ul></li><li><span><a href="#Saving-locally-the-clean-dataset" data-toc-modified-id="Saving-locally-the-clean-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Saving locally the clean dataset</a></span></li></ul></div>

# Simple Pre-Processing

As the original file * for the data is too big (~29b) and we are not using all of them, we just choose some species (PM10, PM25 and NO2) and drop the rest to make it easier for our computers to work with them.

## Importing the `.csv`

In [2]:
import pandas as pd

In [7]:
data = pd.read_csv('datasets/dataset2_Q12020.csv')

In [19]:
data.shape # Number of rows and columns

(539573, 9)

In [20]:
data['Specie'].unique() # What we can find in the Specie column

array(['so2', 'wind speed', 'wd', 'wind gust', 'pm10', 'o3', 'pm25',
       'humidity', 'pressure', 'wind-gust', 'dew', 'temperature',
       'precipitation', 'wind-speed', 'co', 'no2', 'aqi', 'uvi', 'neph',
       'pol', 'pm1', 'mepaqi'], dtype=object)

## Filtering the data

In [28]:
data[data['Specie'].isin(['no2','pm25', 'pm10'])] 
# The data we want to save is the one which is NO2, PM25 or PM10 in the column Specie

,Date,Country,City,Specie,count,min,max,median,variance
257,2020-02-23,CO,Bogotá,pm10,327,4.0,72.0,25.0,1519.18
258,2020-03-24,CO,Bogotá,pm10,314,2.0,86.0,47.0,1525.59
259,2020-04-01,CO,Bogotá,pm10,330,5.0,79.0,25.0,1143.10
260,2019-12-30,CO,Bogotá,pm10,308,5.0,81.0,24.0,2760.72
261,2020-01-17,CO,Bogotá,pm10,328,2.0,90.0,10.0,1330.29
...,...,...,...,...,...,...,...,...,...
539412,2020-03-17,LT,Kaunas,pm25,46,1.0,78.0,38.0,2992.27
539413,2020-03-25,LT,Kaunas,pm25,46,17.0,165.0,78.0,16040.00
539414,2019-12-30,LT,Kaunas,pm25,21,17.0,72.0,42.0,1136.33
539415,2020-02-19,LT,Kaunas,pm25,43,5.0,63.0,46.0,1888.83
539416,2020-02-26,LT,Kaunas,pm25,44,1.0,66.0,38.0,1852.36

In [13]:
filtered_data = data[data['Specie'].isin(['no2','pm25', 'pm10'])]

In [25]:
filtered_data.shape # Checking that the number of rows is smaller -- done!

(145749, 9)

# Saving locally the clean dataset

In [27]:
# Saving the dataset:

filtered_data.to_csv('datasets/data2_filtered.csv')

(*) The original file was downloaded from the webpage [_Air Quality Open Data Platform, Worldwide COVID-19 dataset_](https://aqicn.org/data-platform/covid19/) and it is the dataset for the first quarter of 2020.